body {
  padding: 3rem 0;
  background: #fafafa;
  color: #000;
  font-size: 14px;
  font-family: "Segoe UI", sans-serif;
  line-height: 1.3;
}

a {
  color: #262626;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.container {
  width: 74%;
  max-width: 1400px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 16px;
  }
}
@media (min-width: 766px) and (max-width: 991px) {
  .container {
    width: 90%;
  }
}
.container .grid-wrapper {
  display: flex;
}
@media (max-width: 767px) {
  .container .grid-wrapper {
    flex-direction: column;
  }
}
.container .grid-wrapper .articles {
  flex-basis: 64%;
  margin-right: 30px;
}
@media (max-width: 767px) {
  .container .grid-wrapper .articles {
    margin: 2rem 0 0 0;
    order: 2;
  }
}
.container .grid-wrapper .articles article {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background: #fff;
}
.container .grid-wrapper .articles article:not(:last-child) {
  margin-bottom: 1rem;
}
.container .grid-wrapper .articles article header {
  padding: 16px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
}
.container .grid-wrapper .articles article header .post-author {
  display: flex;
  align-items: center;
}
.container .grid-wrapper .articles article header .post-author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 0.7em;
}
.container .grid-wrapper .articles article header .post-author .column-wrapper .author-link {
  font-weight: 500;
}
.container .grid-wrapper .articles article header .post-author .column-wrapper .location {
  margin-left: 0.2em;
}
.container .grid-wrapper .articles article header .post-author .column-wrapper .location a {
  font-size: 12px;
}
.container .grid-wrapper .articles article header .follow-user {
  margin-left: auto;
  border: 1px solid #e6e6e6;
  background: #fff;
  border-radius: 3px;
  font-family: inherit;
  padding: 0 1em;
  cursor: pointer;
}
.container .grid-wrapper .articles article header .follow-user i {
  margin-right: 0.4em;
}
.container .grid-wrapper .articles article .image-wrapper img {
  width: 100%;
  vertical-align: text-bottom;
}
.container .grid-wrapper .articles article footer .interactions {
  display: flex;
  padding: 0.9em 16px 0;
}
.container .grid-wrapper .articles article footer .interactions i {
  margin-right: 0.5em;
  font-size: 18px;
}
.container .grid-wrapper .articles article footer .interactions .bookmark {
  margin-left: auto;
}
.container .grid-wrapper .articles article footer .author-comment {
  padding: 1em 16px;
}
.container .grid-wrapper .articles article footer .author-comment a {
  font-weight: 500;
}
.container .grid-wrapper .articles article footer .comments-box {
  padding: 0 16px;
}
.container .grid-wrapper .articles article footer .comments-box .comment-block {
  padding: 0.2em 0;
}
.container .grid-wrapper .articles article footer .comments-box .comment-block a {
  font-weight: 500;
}
.container .grid-wrapper .articles article footer .post-date {
  padding: 0.5em 16px;
  border-bottom: 1px solid #eee;
}
.container .grid-wrapper .articles article footer .post-date a {
  text-transform: uppercase;
  font-size: 10px;
  color: #999;
}
.container .grid-wrapper .articles article footer .comments-area textarea {
  margin: 0px;
  padding: 1em 16px;
  border: 0px;
  width: 100%;
  height: 100%;
  vertical-align: text-bottom;
  z-index: auto;
  font-size: 14px;
  outline: none;
  resize: none;
  color: #999;
  font-family: "Segoe UI", sans-serif;
}
.container .grid-wrapper .articles article footer .comments-area textarea::-moz-placeholder {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
.container .grid-wrapper .articles article footer .comments-area textarea:-ms-input-placeholder {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
.container .grid-wrapper .articles article footer .comments-area textarea::placeholder {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
.container .grid-wrapper .sidebar {
  flex-grow: 1;
}
@media (max-width: 767px) {
  .container .grid-wrapper .sidebar {
    order: 1;
  }
}
.container .grid-wrapper .sidebar .user-profile {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 16px;
}
.container .grid-wrapper .sidebar .user-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5em;
}
.container .grid-wrapper .sidebar .user-profile .column-wrapper a {
  font-size: 14px;
  font-weight: 500;
}
.container .grid-wrapper .sidebar .user-profile .column-wrapper span {
  font-size: 12px;
  color: #999;
}
.container .grid-wrapper .sidebar .stories .stories-header {
  display: flex;
  font-size: 14px;
  margin-bottom: 16px;
}
.container .grid-wrapper .sidebar .stories .stories-header span {
  color: #999;
  font-weight: 600;
}
.container .grid-wrapper .sidebar .stories .stories-header a {
  font-weight: 500;
  margin-left: auto;
}
.container .grid-wrapper .sidebar .stories .friends-stories .story-block {
  display: flex;
  align-items: center;
}
.container .grid-wrapper .sidebar .stories .friends-stories .story-block:not(:last-child) {
  margin-bottom: 1rem;
}
.container .grid-wrapper .sidebar .stories .friends-stories .story-block img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5em;
}
.container .grid-wrapper .sidebar .stories .friends-stories .story-block .column-wrapper a {
  font-weight: 600;
}
.container .grid-wrapper .sidebar .stories .friends-stories .story-block .column-wrapper span {
  text-transform: uppercase;
  font-size: 10px;
  color: #999;
}